.frstsection{
    text-align: center;
margin: 140px auto;
width: 60%;
}
.frstsection p{
    color: #E7D3F8 ;
    font-size: 20px;
} 
.frstsection  h1{
    font-size: 60px;
color: white;
}

.scndsection{

}
.scndsection p{
    color: #F1D889;
font-size: 18px;
font-weight: 500;
}
.scndsection h2{
    font-size: 50px;
    color: white;
}
.marquemain{
    display: flex;
padding: 50px;
    justify-content: center;
}
.marquemain img{
    padding: 30px 40px;
}